*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    position: absolute;
    display: flex;
    height: 74px;
    width: 100%;
    background-color: #FFFFFF;
}
.head{
    height: 74px;
    position: absolute;
    
}
.icon{
    line-height: 74px;
    display:flex;
    margin-left: 50px;
    
}
.icon img{
    height: 32px;
    width: 37px;
    margin-top: 20px;
    padding-right: 5px;
}
.icon p{

    color: 
    #2A2C1F;
    font-family: 'Roboto', sans-serif;
}
.buttons{
    width: 100%;
}
.buttons > ul {
    float: right;
    display: flex;
}

.buttons > ul > li{
    list-style: none;
    line-height: 74px;
    padding: 0px 20px 0px 0px;
    
}

.buttons > ul > li > a{
    text-decoration: none;
    color: 
    #2A2C1F;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
    font-size: 16px;
    padding-right: 10px;
    
}
.buttons > ul > li > i{
    color: black;
}

#first a{
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 10px 42px;
}
#second a{
    color: white;
    background: #CF6F49;
    border: 1px solid #CF6F49;
    border-radius: 6px;
    padding: 10px 42px;
}

.body{
    margin-top: 74px;
    width: 100%;
    background: #F5F5F2;
    height: 686px;
    position: absolute;
    
}
.body img{
    width: 50%;
    height: 686px;
    float: right;
}
.text{
    width: 516px;
    position: absolute;
    margin: 171px 20px 342px 80px;
}
.text span{
    font-size: 56px;
    color: #2A2C1F;
}
.text p{
    font-size: 14px;
    margin-bottom: 24px;
    border-radius: 9px;
    border: 1px solid 
    #E7E8E3;
    width: 160px;
    text-align: center;
    background-color: 
    #E7E8E3;
}
.text section{
    height: 90px;
    margin-top: 21px;
    font-size: 20px;
    color: #65665C;
}
.text input{
    background: #FFFFFF;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    height: 48px;
    padding: 10px 10px 10px 50px;
    font-size: 16px;
    width: 310px;
}
.text form{
    width: 310px;
    position: absolute;
}
.text form i{
    position: absolute;
    margin-top:16px;
    margin-left:20px;
}
.text ul li{
    margin-top: 16px;
    list-style: none;
    position: absolute;
}
.text a{
    color: white;
    padding: 10px 35px;
    text-decoration: none;
    margin-left: 350px;
    background: #CF6F49;
    border: 1px solid #CF6F49;
    border-radius: 6px;
    
}

.body2{
    height: 686px;
    position: absolute;
    margin-top: 867px;
    display: flex;
}
.body2 p{
    height: 54px;
    margin-left: 80px;
    font-size: 18px;
    line-height: 27px;
    width: 243px;
}
.body2 img{
    margin-top: 10px;
    height: 30px;
    min-width: 700px;
    padding-left: 270px;
}
.body3{
    width: 100%;
    margin-top: 1102px;
    position: absolute;
}
.body3 p{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 21px;
    text-align: center;
}
.body3 section{
    font-size: 18px;
    font-weight: 400;
    margin-left: 300px;
    max-width: 754px;
    height: 54px;
    text-align: center;
    
}
.links{
    position: absolute;
    margin-top: 1300px;
    height: 400px;
}
.links .first, .second, .third{
    background: #FFFFFF;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    height: 291px;
    width: 359px;
    display: inline-block;
    margin-left: 32px;
    
}
.links .first{
    margin-left: 98px;
}
.links p{
    font-weight: 700;
    font-size: 24px;
    color: #2A2C1F; 
    text-align: center;
    margin-bottom: 17px;
}
.links i{
    padding: 69px 0px 54px 170px;
    height: 48px;
    width: 32px;
    
}

.links section{
    text-align: center;
    margin-top: 10px;
    margin: 10px 20px 1px 20px;
}